@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: $colorQuinary;
}

a {
  color: unset;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
