@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: $colorQuinary;
  padding-top: 56px;
}

a {
  color: unset;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
